<a href="https://colab.research.google.com/github/leehg9805/S-W-/blob/main/%ED%86%B5%EA%B3%84%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EB%B6%84%EB%A5%98%EB%AA%A8%EB%8D%B8_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
rdf = df.drop(['deck', 'embark_town'], axis=1)
rdf.columns.values

array(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'alive', 'alone'],
      dtype=object)

In [ ]:
rdf = rdf.dropna(subset=['age'], how='any', axis=0)
rdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    714 non-null    int64
 1   pclass      714 non-null    int64
 2   sex         714 non-null    object
 3   age         714 non-null    float64
 4   sibsp       714 non-null    int64
 5   parch       714 non-null    int64
 6   fare        714 non-null    float64
 7   embarked    712 non-null    object
 8   class       714 non-null    category
 9   who         714 non-null    object
 10  adult_male  714 non-null    bool
 11  alive       714 non-null    object
 12  alone       714 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(4)
memory usage: 63.6+ KB

In [ ]:
rdf['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
rdf['embarked'].value_counts()

S    554
C    130
Q     28
Name: embarked, dtype: int64

In [ ]:
most_freq = rdf['embarked'].value_counts(dropna=True).idxmax()
most_freq # 확실히 빈도 값 입력함

'S'

In [ ]:
rdf['embarked'].fillna(most_freq, inplace=True)

In [ ]:
df.describe(include='all')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ndf = rdf[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'embarked']]
ndf.head()

   survived  pclass     sex   age  sibsp  parch embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [ ]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  714 non-null    int64
 1   pclass    714 non-null    int64
 2   sex       714 non-null    object
 3   age       714 non-null    float64
 4   sibsp     714 non-null    int64
 5   parch     714 non-null    int64
 6   embarked  714 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.6+ KB

In [ ]:
onehot_sex = pd.get_dummies(ndf['sex'])
onehot_sex.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [ ]:
ndf = pd.concat([ndf, onehot_sex], axis=1)
ndf.head()

   survived  pclass     sex   age  sibsp  parch embarked  female  male
0         0       3    male  22.0      1      0        S       0     1
1         1       1  female  38.0      1      0        C       1     0
2         1       3  female  26.0      0      0        S       1     0
3         1       1  female  35.0      1      0        S       1     0
4         0       3    male  35.0      0      0        S       0     1

In [ ]:
onehot_embarked = pd.get_dummies(ndf['embarked'], prefix='town') #컬럼명 이름 추가

In [ ]:
onehot_embarked

     town_C  town_Q  town_S
0         0       0       1
1         1       0       0
2         0       0       1
3         0       0       1
4         0       0       1
..      ...     ...     ...
885       0       1       0
886       0       0       1
887       0       0       1
889       1       0       0
890       0       1       0

[714 rows x 3 columns]

In [ ]:
ndf = pd.concat([ndf,onehot_embarked], axis=1)
ndf.head()

,survived,pclass,sex,age,sibsp,parch,embarked,female,male,town_C,town_Q,town_S
0,0,3,male,22.0,1,0,S,0,1,0,0,1
1,1,1,female,38.0,1,0,C,1,0,1,0,0
2,1,3,female,26.0,0,0,S,1,0,0,0,1
3,1,1,female,35.0,1,0,S,1,0,0,0,1
4,0,3,male,35.0,0,0,S,0,1,0,0,1

In [ ]:
ndf.drop(['sex','embarked'],axis=1, inplace=True)

In [ ]:
ndf.head()

   survived  pclass   age  sibsp  parch  female  male  town_C  town_Q  town_S
0         0       3  22.0      1      0       0     1       0       0       1
1         1       1  38.0      1      0       1     0       1       0       0
2         1       3  26.0      0      0       1     0       0       0       1
3         1       1  35.0      1      0       1     0       0       0       1
4         0       3  35.0      0      0       0     1       0       0       1

In [ ]:
X =ndf[list(ndf.columns)[1:]]
y= ndf[list(ndf.columns)[0]]

In [ ]:
X.shape

(714, 9)

In [ ]:
y.shape

(714,)

In [ ]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size=0.3, random_state=10)

In [ ]:
print('train data개수' , X_train.shape, y_train.shape)
print('test data개수', X_test.shape, y_test.shape)

train data개수 (499, 9) (499,)
test data개수 (215, 9) (215,)

In [ ]:
X_train

array([[-1.47636364,  2.3629184 ,  0.52457013, ..., -0.47180795,
        -0.20203051,  0.53307848],
       [ 0.91123237, -0.46148866, -0.55170307, ..., -0.47180795,
        -0.20203051,  0.53307848],
       [ 0.91123237, -0.73704057, -0.55170307, ..., -0.47180795,
        -0.20203051,  0.53307848],
       ...,
       [-0.28256564, -0.32371271, -0.55170307, ..., -0.47180795,
        -0.20203051,  0.53307848],
       [-1.47636364,  1.4673747 , -0.55170307, ...,  2.11950647,
        -0.20203051, -1.87589641],
       [-1.47636364, -0.9437045 , -0.55170307, ...,  2.11950647,
        -0.20203051, -1.87589641]])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
y_hat = knn.predict(X_test)

In [ ]:
from sklearn import metrics
knn_matrix =metrics.confusion_matrix(y_test, y_hat)
knn_matrix

array([[111,  14],
       [ 24,  66]])

In [ ]:
knn_report = metrics.classification_report(y_test, y_hat)
print(knn_report)

              precision    recall  f1-score   support

           0       0.82      0.89      0.85       125
           1       0.82      0.73      0.78        90

    accuracy                           0.82       215
   macro avg       0.82      0.81      0.82       215
weighted avg       0.82      0.82      0.82       215

In [ ]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size=0.3, random_state=10)

In [ ]:
print('train data개수' , X_train.shape, y_train.shape)
print('test data개수', X_test.shape, y_test.shape)

train data개수 (499, 9) (499,)
test data개수 (215, 9) (215,)

In [ ]:
X_train

array([[-1.47636364,  2.3629184 ,  0.52457013, ..., -0.47180795,
        -0.20203051,  0.53307848],
       [ 0.91123237, -0.46148866, -0.55170307, ..., -0.47180795,
        -0.20203051,  0.53307848],
       [ 0.91123237, -0.73704057, -0.55170307, ..., -0.47180795,
        -0.20203051,  0.53307848],
       ...,
       [-0.28256564, -0.32371271, -0.55170307, ..., -0.47180795,
        -0.20203051,  0.53307848],
       [-1.47636364,  1.4673747 , -0.55170307, ...,  2.11950647,
        -0.20203051, -1.87589641],
       [-1.47636364, -0.9437045 , -0.55170307, ...,  2.11950647,
        -0.20203051, -1.87589641]])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)

knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [ ]:
y_hat = knn.predict(X_test)

In [ ]:
from sklearn import metrics
knn_matrix =metrics.confusion_matrix(y_test, y_hat)
knn_matrix

array([[113,  12],
       [ 31,  59]])

In [ ]:
knn_report = metrics.classification_report(y_test, y_hat)
print(knn_report)

              precision    recall  f1-score   support

           0       0.78      0.90      0.84       125
           1       0.83      0.66      0.73        90

    accuracy                           0.80       215
   macro avg       0.81      0.78      0.79       215
weighted avg       0.80      0.80      0.80       215

# SVM

In [ ]:
from sklearn import svm

svm_model = svm.SVC()
svm_model.fit(X_train, y_train)

SVC()

In [ ]:
y_hat = svm_model.predict(X_test)

In [ ]:
from sklearn import metrics
svm_matrix = metrics.confusion_matrix(y_test, y_hat)
svm_matrix

array([[120,   5],
       [ 35,  55]])

In [ ]:
from sklearn.metrics import